:root {
  --brand: #6366f1;
  --brand-dark: #4f46e5;
  --bg-soft: #f8fafc;
}

body {
  background: var(--bg-soft);
}

.product-card {
  border: none;
  border-radius: 18px;
  transition: all 0.25s ease;
  background: white;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}

.btn-brand {
  background: var(--brand) !important;
  color: white !important;
  border: none;
  border-radius: 12px;
  padding: 8px 14px;
  font-weight: 500;
}

.btn-brand:hover {
  background: var(--brand-dark) !important;
}

.price,.nav-title, .main-title {
  color: var(--brand-dark) !important;
  font-size: 1.2rem;
  font-weight: 600;
}

.main-title:hover {
  background: #eef2ff !important;
}
.category-badge {
  background: #eef2ff;
  color: var(--brand-dark);
  border-radius: 50px;
  padding: 4px 12px;
  font-size: 0.8rem;
  width: fit-content;
}



/*Product details styles*/


.details-card {
  border: none;
  border-radius: 22px;
  background: white;
  box-shadow: 0 25px 50px rgba(0,0,0,0.07);
  padding: 40px;
}

.details-title {
  font-weight: 700;
  font-size: 2rem;
}

.details-price {
  color: var(--brand-dark);
  font-size: 1.5rem;
  font-weight: 600;
}

.details-category {
  background: #eef2ff;
  color: var(--brand-dark);
  border-radius: 50px;
  padding: 6px 14px;
  font-size: 0.9rem;
  width: fit-content;
}

.btn-outline-brand {
  border: 2px solid var(--brand) !important;
  color: var(--brand) ;
  border-radius: 12px;
  padding: 8px 14px;
  font-weight: 500;
  background: transparent;
}

.btn-outline-brand:hover {
  background: var(--brand) !important;
  color: white !important;
}
